# name of the model
LLM_MODEL=

# required for OpenAI direct (remove if using OpenRouter)
OPENAI_API_KEY=
OPENAI_BASE_URL=

# required for OpenRouter (remove if using OpenAI direct)
OPENROUTER_API_KEY=
OPENROUTER_BASE_URL=https://openrouter.ai/api/v1

# optional
LLM_TEMPERATURE=0.0
LLM_TIMEOUT=60
